.headerlnner{
    background: rgba(255, 254, 254, 0);
    width: 100%;
    height: 75px;
    /*固定*/position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerlnner ul li{
    display: inline-block;
    padding: 0 30px;
    list-style: none;
} 
.contactButton{
    text-align: center;
    background: #49A355;
    color: aliceblue;
    width:200px;
    height:50px;
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    transform: 700ms;
}
.contactButton:hover{
    background: #D3FD7A;
    color: black;
}
.kuuhaku{
    width:100%;
    height:75px;
}
.mainpic{
    text-align: center;
    background: #ffffff;
    width:100%;
    height: 300px;
}
.pic_yoko{
    text-align: center;
}
.pic_yoko li{
    display: inline-block;
}
.pic_2yoko{
    text-align: center;
}
.pic_2yoko li{
    display: inline-block;
}
.topbutton{
    text-align: right;
   position: fixed;
   left: 50px;
   bottom: 50px;
}
.top_contactButton{
    text-align: center;
    background: #49A355;
    color: aliceblue;
    width:50px;
    height:50px;
    display: inline-block;
    border-radius: 90px;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    transform: 1ms;
}
.top_contactButton:hover{
    background: #D3FD7A;
    color: black;
    transform: scale(1.5,1.5);
}
.menyu_contactButton{
    text-align: center;
    background: #78dc85;
    color: rgb(0, 0, 0);
    width:50px;
    height:50px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    transform: 1ms;
}
.menyu_contactButton:hover{
    background: #49A355;
    color: rgb(255, 255, 255);
}
.menyu{
    position: fixed;
    text-align: right;
    right: 50px;
    bottom:50px;
}
.toiawase{
    position: fixed;
    text-align: right;
    right: 50px;
    bottom:110px;
}
.toiawase_contactButton{
    text-align: center;
    background: #78dc85;
    color: rgb(0, 0, 0);
    width:50px;
    height:50px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    transform: 800ms;
}
.toiawase_contactButton:hover{
    background:#49A355;
    color:rgb(255, 255, 255);
}
.sinnryakunagare{
    text-align: center;
}
.sinnryaku{
    text-align: center;
}
.sinnryaku .sinnryaku2  li{
    
    padding: 0 10px;
    list-style: none;
}
.nyuutai_contactButton{
    text-align: center;
    background: #78dc85;
    color: rgb(0, 0, 0);
    width:300px;
    height:350px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    transform:800ms;
    justify-content: space-between;
}
.nyuutai_contactButton:hover{
    background:#49A355;
    color:rgb(255, 255, 255);
    /*transform:scale(1.1,1.1);*/
}
.nyuutai{
    background: #d7ffc6;
    text-align: center;
}
.nyuutai .nyuutaibtn li{
    display: inline-block;
    list-style: none;
    padding: 0 60px;
}
.kuwasiku_contactButton{
    text-align: center;
    background: #ffffff;
    color: rgb(94, 177, 95);
    width:100px;
    height:50px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    transform:800ms;
    justify-content: space-between; 
    border: solid 2px rgb(74, 192, 74);
}
.kuwasiku_contactButton:hover{
    background:#49A355;
    color:rgb(255, 255, 255);
    /*transform:scale(1.1,1.1);*/
}
.sinnryaku .dai_kero li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}

.footerlnner{
    text-align: center;
}